{% extends 'layouts/base.html' %}

{% block title %} Really Simple CRM {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- Header -->
<div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-11 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Contacts</h3>
            </div>
            <div class="col text-center">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" class="btn-sm" name="document">
                <button type="submit" class="btn btn-sm btn-primary">Import Contacts</button>
              </form>
            </div>
            <div class="col text-right">
              <a href="{% url 'contacts:index' %}?export=True" class="btn btn-sm btn-primary">Export Contacts</a>
              <a href="{% url 'contacts:create' %}" class="btn btn-sm btn-primary">Create Contact</a>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Address Line 1</th>
                <th scope="col">Address Line 2</th>
                <th scope="col">City</th>
                <th scope="col">State</th>
                <th scope="col">Zipcode</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              {% for contact in contact_list %}
              <tr>
                <th scope="row">
                  {{ contact  }}
                </th>
                <td>
                  {{ contact.email  }}
                </td>
                <td>
                  {{ contact.address_line_1  }}
                </td>
                <td>
                  {{ contact.address_line_2  }}
                </td>
                <td>
                  {{ contact.city  }}
                </td>
                <td>
                  {{ contact.state  }}
                </td>
                <td>
                  {{ contact.zipcode  }}
                </td>
                <td>
                  <a href="{% url 'contacts:detail' contact.id %}" class="btn btn-sm btn-primary">View / Edit</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  {% if uploaded_file_url %}
  <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
