{% extends 'layouts/base.html' %}

{% block title %} Profile {% endblock title %}

{% block content %}

    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
         style="min-height: 600px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
      <div class="container-fluid d-flex align-items-center">
        <div class="row">
          <div class="col-lg-7 col-md-10">
            <h1 class="display-2 text-white">{{ contact }}</h1>
            <!-- <p class="text-white mt-0 mb-5">Contacts Page.asd fsa dfasdfa sdfsadf asdfsadfsa fsad fsadfadf as</p> -->
            <!-- <a href="#!" class="btn btn-info">Edit profile</a> -->
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mt--7">

      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  {% if contact.profile_picture != "" %}
                  <img src="{{ contact.profile_picture.url }}" id="contact-image" class="rounded-circle" style="max-height:200px">
                  {% else %}
                  <!-- <img src="/static/assets/img/theme/team-4-800x800.jpg" class="rounded-circle"> -->
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
              <!-- <div class="d-flex justify-content-between">
                <a href="#" class="btn btn-sm btn-info mr-4">Connect</a>
                <a href="#" class="btn btn-sm btn-default float-right">Message</a>
              </div> -->
            </div>
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <!-- <div>
                      <span class="heading">22</span>
                      <span class="description">Friends</span>
                    </div>
                    <div>
                      <span class="heading">10</span>
                      <span class="description">Photos</span>
                    </div>
                    <div>
                      <span class="heading">89</span>
                      <span class="description">Comments</span>
                    </div> -->
                  </div>
                </div>
              </div>
              <div class="text-center">
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>Send Postcard</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="I love InvestNext!"></textarea>
                  </div>
                </div>
                <div class="text-center">
                  <a href="#!" class="btn btn-sm btn-primary">Send a Postcard</a>
                  <!-- <br><br>
                  <h6 class="heading-small text-muted mb-4">(Make sure to save your changes first)</h6> -->
                  <!-- <h6 class="heading-small text-muted mb-4">success text goes here</h6> -->
                </div>
                <!-- <h3>
                  {{ contact }}
                </h3>
                <div class="h5 font-weight-300">
                  {{ contact }}
                </div> -->
                <!-- <div class="h5 mt-4">
                  <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                </div>
                <div>
                  <i class="ni education_hat mr-2"></i>University of Computer Science
                </div>
                <hr class="my-4" />
                <p>Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music.</p>
                <a href="#">Show more</a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Contact Details</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{% url 'contacts:edit' contact_id=contact.id %}" class="btn btn-sm btn-primary">Edit</a>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form>
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input disabled type="text" id="input-first-name" class="form-control form-control-alternative"
                        value="{{ contact.first_name }}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input disabled type="text" id="input-last-name" class="form-control form-control-alternative"
                        value="{{ contact.last_name }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <!-- <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label" for="input-username">Username</label>
                        <input disabled type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username"
                               value="{{ request.user.username }}">
                      </div>
                    </div> -->
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-email">Email address</label>
                        <input disabled type="email" id="input-email" class="form-control form-control-alternative"
                               value="{{ contact.email }}">
                      </div>
                    </div>
                  </div>

                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Address information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Address Line 1</label>
                        <input disabled id="address-line-1" class="form-control form-control-alternative" type="text" value="{{ contact.address_line_1 }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label" for="input-address">Address Line 2</label>
                        <input disabled id="address-line-2" class="form-control form-control-alternative" type="text" value="{{ contact.address_line_2 }}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-city">City</label>
                        <input disabled type="text" id="input-city" class="form-control form-control-alternative" placeholder="City" value="{{ contact.city }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">State</label>
                        <input disabled type="text" id="input-country" class="form-control form-control-alternative" placeholder="State" value="{{ contact.state }}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Zipcode</label>
                        <input disabled type="number" id="input-postal-code" class="form-control form-control-alternative" placeholder="Zipcode" value="{{ contact.zipcode }}">
                      </div>
                    </div>

                  </div>
                </div>
                <hr class="my-4" />
                <!-- Description -->
                <!-- <h6 class="heading-small text-muted mb-4">About me</h6>
                <div class="pl-lg-4">
                  <div class="form-group">
                    <label>About Me</label>
                    <textarea rows="4" class="form-control form-control-alternative" placeholder="A few words about you ...">A beautiful Dashboard for Bootstrap 4. It is Free and Open Source.</textarea>
                  </div>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
